<p>
    <label for="settings_show_unread_notifications"><%= l(:show_unread_notifications) %></label>
    <%= hidden_field_tag 'settings[show_unread_notifications]', 0, :id => nil %>
    <%= check_box_tag 'settings[show_unread_notifications]', 1, Setting.plugin_redmine_advanced_messenger[:show_unread_notifications] == '1' %>
</p>
<p>
    <label for="settings_unread_notifications_update_interval"><%= l(:unread_notifications_update_interval) %></label>
    <%= number_field_tag "settings[unread_notifications_update_interval]", Setting.plugin_redmine_advanced_messenger[:unread_notifications_update_interval], :size => 60 %>
    <em class="info"><%= l(:unread_notifications_update_interval_note) %></em>
</p>
<p>
    <label for="settings_disable_fix_for_scroll_to_anchor"><%= l(:disable_fix_for_scroll_to_anchor) %></label>
    <%= hidden_field_tag 'settings[disable_fix_for_scroll_to_anchor]', 0, :id => nil %>
    <%= check_box_tag 'settings[disable_fix_for_scroll_to_anchor]', 1, Setting.plugin_redmine_advanced_messenger[:disable_fix_for_scroll_to_anchor] == '1' %>
    <em class="info"><%=raw l(:disable_fix_for_scroll_to_anchor_note) %></em>
</p>
<p>
    <label for="settings_notification_mail_content"><%= l(:notification_mail_content) %></label>
    <%= select_tag 'settings[notifications_mail_option]', options_for_select([[l(:teaser), 'teaser'], [l(:whole_note), 'whole_note']], Setting.plugin_redmine_advanced_messenger[:notifications_mail_option]), include_blank: false %>
    <em class="info"><%= l(:notification_mail_content_description) %></em>
</p>
<p>
    <label for="settings_select_roles_to_exclude"><%= l(:select_roles_to_exclude) %></label>
    <% roles_not_sent_email = Setting.plugin_redmine_advanced_messenger[:roles_not_sent_email] || [] %>
    <%# adapted from _crispico_plugin_settings_menu.html.erb %>
    <%= select_tag(
        'settings[roles_not_sent_email][]',
        options_from_collection_for_select(Role.givable.sorted, 'id', 'name', roles_not_sent_email),
        multiple: true,
        style: 'height: 100px;'
    ) %>
    <em class="info"><%=raw l(:select_roles_to_exclude_note) %></em>
</p>