<div id="issue_notifications_dialog" >
    <%=l(:issue_notifications_dialog_text_for_current_user, :user => link_to_user(User.current).gsub("\"", "\'")).html_safe%> 
    <br/>
    <a id="go-to-first-one" class="icon icon-down-left-arrow"><%=t(:issue_notifications_dialog_go_to_first_one)%></a> 
    <a id="status-for-others-link" title=" " class='icon icon-chat' style="color:#169; cursor:pointer"><%=t(:issue_notifications_dialog_status_for_others)%></a>
    <!--By default first link inside a dialog gets auto focus (its a uiDialog feature: https://api.jqueryui.com/1.11/dialog/).
     We don't need this, so we autofocus on another element without any graphical implication-->
    <div id="other-users-status-list-content-holder" style="display:none" autofocus></div>
</div>

<%= javascript_tag do%>
    /**
    * These limits are copied from redmine application.css and are the values for the sidebar width 
    **/
    let width;
    var dialog = $("#issue_notifications_dialog").dialog( {
        width: $("#sidebar").width(),
        height: 90,
        resizable: false,
        dialogClass: 'fixed-issue-notifications-dialog',
        draggable: false,
        classes: {"ui-dialog": "ui-corner-all notifications-dialog"},
        // the 'title' attribute doesn't accept html. That's why we need to set the title in the 'open()' function
        
        open: function(event, ui) {
                $(this).parent().find('.ui-dialog-titlebar .ui-dialog-title').remove();
                $(this).parent().find('.ui-dialog-titlebar').append("<span class='ui-dialog-title icon icon-chat'><%=t(:global_popup_title)%></span>");

            }
    });

    $(window).resize(function() {
        $("#issue_notifications_dialog").dialog( "option", "width", $("#sidebar").width());
    });

    $("#issue_notifications_dialog").parent().find(".ui-dialog-titlebar").css({
        "border" : "0px none" 
    });

    $("#issue_notifications_dialog").parent().css({
        "border": "0px unset"
    })

    $("#status-for-others-link").tooltip({
        content: function () {
            return "<span>" + 
                        "<%=t(:issue_notifications_dialog_others_tooltip_text)%>:" +
                    "</span>" +  
                    "<ul id='other-users-status-list' style='list-style-type: none; padding-inline-start: 15px; margin-top: 5px;'>" +
                        $("#other-users-status-list-content-holder").html() + 
                    "</ul>";
        },
        classes: {
            "ui-tooltip": "notification-statuses"
        }
    });
<% end %>
<% unread_notification_statuses = getUnreadNotificationsForIssue(issue) %>
<%= javascript_tag do %>
    function renderNotificationsStatusesPerIssue(firstUnreadNotificationIndex, unreadNotificationsForCurrentUser, unreadNotificationsForOtherUsers) {
        $("#unread-notifications-count").html(unreadNotificationsForCurrentUser);
        
        if (unreadNotificationsForCurrentUser == 0) {
            $("#go-to-first-one").hide();
            $(".notifications-dialog").removeClass("unread");
            
        } else {
            $("#go-to-first-one").attr("href", "#note-" + firstUnreadNotificationIndex);
            $("#go-to-first-one").show();
            $(".notifications-dialog").addClass("unread");
        }

        let otherUsersStatussesList = "";
        for (let key in unreadNotificationsForOtherUsers){
            const unreadNotificationStatus = unreadNotificationsForOtherUsers[key];
            otherUsersStatussesList += "<li>(" + unreadNotificationStatus.count + ") " + unreadNotificationStatus.user + "</li>"
        }   
        
        $("#other-users-status-list-content-holder").html(otherUsersStatussesList);
    }
<%end%>

<%= javascript_tag do %>
    renderNotificationsStatusesPerIssue(<%=unread_notification_statuses[0]%>, <%=unread_notification_statuses[1]%>, <%=unread_notification_statuses[2].to_json.html_safe%>);
<%end%>
