<% if @journal.frozen? || !@journal.notes?%>
    // ====== Journal note was deleted ======
    // So we need to update the global unread notifications indicators
    <%@unread_notification_statuses = getUnreadJournalsStatus(@journal.issue.visible_journals_with_index)%>
    renderBottomRightUnreadNotificationsDialog(<%=@unread_notification_statuses[0]%>, <%=@unread_notification_statuses[1]%>, <%=@unread_notification_statuses[2].to_json.html_safe%>, "/advanced_messenger/<%=@journal.issue.id%>/ignore_all_unread_issues_notes");
    renderGlobalUnreadNotificationsIndicator(<%= getNotificationsForCurrentUserCountByStatus(AdvancedMessengerHelper::UNREAD)%>);
<% else %>{
    // ====== Journal note was updated ======
    // In this case redmine resets the note content 
    // and deletes the preview div added by our plugin. That's why we need to restore it
    // It also resets the note css class, removing our custom css class
    // (see journals/update.js.erb)
    
    const currentNote = $("#change-<%= journal.id %>.journal.has-notes");
    if (currentNote.length > 0) {
        currentNote.find('.wiki').html("<div class='message-content'>" + currentNote.find('.wiki').html() + "</div>");
        currentNote.find('.wiki').append("<p class='message-preview' style='color: rgb(100, 100, 100)'></p>");
        <%read_by_user = JSON.parse(journal.read_by_users)[User.current.id.to_s] || {}%>
        renderNotesPreviewContent(currentNote, <%=read_by_user["read"] != nil%>, <%=read_by_user["read"] != nil && read_by_user["read"] != AdvancedMessengerHelper::UNREAD%>, <%=User.current.id%>, "<%= truncate_message_and_escape_javascript(journal.notes) %>");
        renderExpandedCollapsed(<%= journal.id %>, "update_journal_read_by_users", currentNote, currentNote.find('.expand-collapse-icon-placeholder a').hasClass("icon-toggle-minus"), false);
        currentNote.addClass("advanced-messenger-bordered-panel");
    }   
}<%end%>