<h1><%= @message.board.project.name %> - <%= @message.board.name %>: <%= link_to(@message.subject, @message_url) %></h1>
<em><%= @message.author %></em>

<% if Setting.plugin_redmine_advanced_messenger[:notifications_mail_option] == 'teaser' %>
  <p><%= l(:ram_new_message_added, :id => link_to(@message.subject, @message_url)).html_safe %></p>
<% else %>
  <%= textilizable(@message, :content, :only_path => false) %>

  <% if @message.attachments.any? -%>
  <fieldset class="attachments"><legend><%= l(:label_attachment_plural) %></legend>
  <% @message.attachments.each do |attachment| -%>
    <%= link_to_attachment attachment, :download => true, :only_path => false %> (<%= number_to_human_size(attachment.filesize) %>)<br />
  <% end -%>
  </fieldset>
  <% end -%>

<% end %>
